/*Name*/
.name{
    top: 75px;
    font-size: 20pt;
    font-weight: bold;
}

/*profile section */
.info{
    font-size: 15pt;
    font-weight: normal;
    line-height: 1.25;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 400px;
    max-height: 500px;
    position: fixed;
    top: 50px;
    right: 250px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.bio{
    /* width: 800px;
    font-size: medium;
    line-height: 1.25;
    left: 250px; */
    max-width: calc(100% - 470px); /* Adjust the maximum width to accommodate the slideshow */
    font-size: 1.5vw;
    line-height: 1.25;
    margin-right: 250px; /* Add margin to avoid overlapping with the slideshow */
}

ul {
    list-style-type: none;
    margin-right: 500px;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    max-width: 215px; 
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: small;
    padding: 15px;
    text-align: center;
  }

  @media screen and (max-width: 3000px) {
    .slideshow-container {
        max-width: 300px; /* Adjust width for smaller screens */
        max-height: 300px; /* Adjust height proportionally */
        right: 40px; /* Adjust right position */
    }
  }