h4 {
  font-weight: 450;
  font-size: 16pt;
}

.element {
  display: flex;
  margin: 2vw;
  position: relative;
}

.element::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 20px;
  left: 0;
  background-color: #769a72;
  transition: transform 0.25s ease-out;
  transform-origin: bottom center;
}

.element:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.activeElement {
  display: flex;
  margin: 2vw;
  position: relative;
  border-color: #769a72;
  border-style: solid;
  border-width: 3px;
  padding: 0px 25px 0px 25px;
  border-radius: 75px;
}