h4 {
  font-weight: 450;
  font-size: 16pt;
  position: relative;
  z-index: 2;
}

.element {
  display: flex;
  margin: 2vw;
  position: relative;
  padding: 0px 25px 0px 25px;
  border: 3px solid transparent; 
  border-radius: 75px; 
  overflow: visible;
}

.element::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 20px;
  left: 0;
  background-color: #769a72;
  transition: transform 0.25s ease-out;
  transform-origin: bottom center;
}

.element:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.element-container {
  margin: 2vw;
  position: relative;
  cursor: pointer;
}

.element.is-active::after {
  display: none;
}